@charset "UTF-8";

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper-inner {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  border-left: 1px solid #264246;
  background: rgba(29,54,57,0.40);
}

.tool-save {
  flex: 0 0 40px;
}

.tool-save-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #264246;
  box-sizing: border-box;
  padding: 4px 0;
  font-size: 12px;
  color: #fff;
}

.tool-save-inner img {
  vertical-align: top;
}

.tool-list {
  flex: 1;
}

.tool-list-inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 0;
}

.tool-list-detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

.tool-action-list,
.tool-stage-list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.tool-action-list li,
.tool-stage-list li {
  cursor: pointer;
  flex-basis: 24px;
  width: 100%;
  text-align: center;
  list-style: none;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.tool-action-list li:hover,
.tool-stage-list li:hover {
  background: #264246;
  border-color: #288990;
}

.tool-action-list .active,
.tool-stage-list .active {
  background: #264246;
  border-color: #288990;
}

.tool-action-list li img,
.tool-stage-list li img {
  margin-top: 7px;
}
