@charset "UTF-8";

:global(html,body) {
  height: 100%;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.wrapper-inner {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.header {
  flex: 0 0 50px;
  background-image: radial-gradient(ellipse farthest-corner at 50% 1450%, #00141a, #010104);
}

.content {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.content .left {
  flex: 0 0 160px;
  background: #6ca1a5;
}

.content .middle {
  flex: 1;
  background: rgba(29,54,57);
  overflow: hidden;
}

.content .middle .middle-inner {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
}

.content .middle-inner .canvas {
  margin: 51px 0 60px;
  flex-shrink: 1;
  width: 100%;
}

.canvas-inner-w {
  height: 100%;
}

.content .middle-inner .mapping {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  overflow: hidden;
}

.content .middle-inner .canvas-inner {
  width: 100%;
  height: 100%;
}

.content .middle-inner .toolbar {
  flex: 0 0 40px;
}

.content .right {
  flex: 0 0 240px;
  background: #264246;
}

.footer {
  flex: 0 0 126px;
  background: #0e1b20;
}
