@charset "UTF-8";

:global(html,body) {
  height: 100%;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.parse-frame-percent-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.55);
  z-index: 9999;
}

.parse-frame-percent-bar > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.parse-frame-percent-bar span {
  font-size: 14px!important;
  color: #fff;
}

.wrapper-inner {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.header {
  flex: 0 0 50px;
  background-image: radial-gradient(ellipse farthest-corner at 50% 1450%, #00141a, #010104);
}

.header-bottom-bar {
  height: 1px;
  background-image: linear-gradient(-90deg, rgba(255,255,255,0.00) 29%, #4E6FC1 86%, rgba(252,252,252,0.00) 100%);
}

.content {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.content-inner {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.content-inner .area {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content .left {
  flex: 0 0 160px;
  background: #6ca1a5;
}

.content .middle {
  flex: 1;
  background: radial-gradient(ellipse farthest-corner at 50% 1450%, #00141a, #010104);
  overflow: hidden;
}

.content .middle .middle-inner {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
}

.content .middle-inner .canvas {
  margin: 51px 0 60px;
  flex-shrink: 1;
  width: 100%;
}

.canvas-inner-w {
  position: relative;
  height: 100%;
}

.content .middle-inner .mapping {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  overflow: hidden;
}

.content .middle-inner .canvas-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content .middle-inner .toolbar {
  flex: 0 0 40px;
}

.content .right {
  flex: 0 0 240px;
  background: #264246;
}

.footer {
  flex: 0 0 126px;
  padding-left: 33px;
  background: #0e1b20;
  display: flex;
  flex-flow: column nowrap;
}

.frame-player {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 37px;
}

.frame-player i {
  font-style: normal;
  cursor: pointer;
}

.frame-player label:first-of-type {
  margin-left: 15px;
}

.frame-player input {
  margin: 0 10px;
  color: #fff;
  padding: 4px 10px;
  width: 48px;
  background: url('./input.png') no-repeat 0 0;
  border: 1px solid transparent;
  text-align: center;
  height: 21px;
  line-height: 21px;
  box-sizing: border-box;
  outline: none;
}

.frame-player .valid-error {
  background: transparent;
  border-color: #ff0000;
}

.frame-player .prev {
  margin-right: 15px;
}

.frame-player .next {
  margin-left: 15px;
}

.frame-img-list {
  width: 100%;
  height: 100%;
}

.txt {
  color: #c4bf97;
  font-size: 12px;
}

.frame-img-list:after {
  display: block;
  content: '\0020';
  clear: both;
  font-size: 0;
  visibility: hidden;
}

.frame-img-list li {
  float: left;
  position: relative;
  cursor: pointer;
  margin: 8px 15px 8px 0;
  background: #254549;
}

.auto-scale {
  flex: 1;
}

.frame-img-list li:last-of-type {
  margin-right: 0;
}

.frame-img-list b {
  font-style: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: green;
  display: none;
  z-index: 1;
}

.frame-img-list img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #3a666a;
}

.footer > div:first-of-type > div:nth-of-type(2) {
  background: #000!important;
}

.footer > div:first-of-type > div:nth-of-type(2) > div {
  background: #254549!important;
}
