.left-navigation-button{
    color: #fff;
    height: 60px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    line-height: 60px;
    /* text-align: center; */
}
.active{
    background: rgba(0,0,0,0.5);
}
.not-active:hover{
    background: rgba(0,0,0,0.2);
}
.left-navigation-button-icon{
    height: 0;
    width: 0;
    margin-left: 9.633027%;
}
.left-navigation-button-name{
    text-indent: calc(9.633027% * 2 + 14px);
}