@charset "UTF-8";

.header {
  position: relative;
  height: 50px;
  z-index: 1;
  background-image: radial-gradient(ellipse farthest-corner at 50% 1450%, #00141a, #010104);
}

.footer {
  background-image: radial-gradient(ellipse farthest-corner at 0 0, #011f27 50%, #04060b 1450%);
}

.form-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 360px;
  transform: translate(-50%,-50%);
}

:global(.ant-modal-content) {
  background: transparent;
}
