@charset "UTF-8";

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 18px 16px;
  display: flex;
  flex-flow: column nowrap;
}

.wrapper-inner {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.wrapper label {
  font-size: 12px;
  color: #c4bf97;
  margin-bottom: 18px;
  display: block;
}

.wrapper .list {
  flex: 1;
}

.wrapper .list ul {
  height: 100%;
  overflow: auto;
}

.wrapper .list ul:after {
  display: block;
  content: "\0020";
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.wrapper .list li {
  float: left;
  position: relative;
  line-height: 0;
  margin-bottom: 18px;
  margin-right: 16px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #3a666a;
  background: #254549;
}

.wrapper .list li:nth-of-type(4n) {
  margin-right: 0;
}

.wrapper .list li i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: green;
  display: none;
  z-index: 1;
}

.wrapper .list li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .list li:hover {
  background: rgba(14,14,14,.4);
  box-shadow: 0 0 6px 0 rgba(255,255,255,.5);
  border-color: #fff;
}

.wrapper .list li:hover i {
  display: block;
}
