@charset "UTF-8";

.wrapper {
  height: 54px;
  color: #fff;
  font-size: 14px;
  background: rgba(30,30,30,.5);
}

.wrapperInner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1408px;
  margin: 0 auto;
}

.logo {

}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  margin: 0 20px;
  padding: 8px 20px;
}
