@charset "UTF-8";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.wrapper .gc-show {
  flex: 1;
}

.wrapper .gc-show > div {
  height: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: rgba(3,14,21,.4);
  color: #fff;
}

.wrapper :global(.ant-progress-bg) {
  height: 5px!important;
}

.wrapper .gc-show img {
  object-fit: contain;
}

.wrapper .detail-show {
  flex: 0 0 30px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper .gc-show .upload-before {
  display: block;
  text-align: center;
  background: rgba(45,75,80,.8);
}

.wrapper .upload-before i {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-top: 32px;
}

.wrapper .upload-before span {
  display: block;
  margin-top: 20px;
  color: #c4bf97;
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
}
