@charset "UTF-8";

.wrapper {
  width: 100%;
  background: rgba(38,66,70,.8);
}

.wrapperInner {
  width: 240px;
  margin: 0 auto;
}

.formControl {
  padding: 36px 0;
}

.textbox {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.textboxInput {
  font-size: 14px;
  color: #666;
  line-height: 21px;
}
