/* .user-works-list{
    position: absolute;
    width: 100%;
    margin-top: 54px;
    height: calc(100% - 54px);
    padding: 20px 11% 0px;
} */
.user-works-list-title{
    height: 70px;
    width: 100%;
    position: relative;

}
.user-works-list-title-image{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user-works-list-title-image img{
    height: 100%;
    width: 100%;
}
.user-works-list-title-info{
    float: left;
    margin-left: 2.100840%;
}
.user-works-list-title-info-name{
    line-height: 50px;
    font-size: 14px;
    color: #999999;
}
.user-works-list-title-line{
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: 0.5px solid #bac7d4;
    filter: blur(1px);
}
.user-works-list-content{
    width: 100%;
    padding: 20px 0;
}
.user-works-list-content-wrap{
    display: flex;
    flex-flow: row wrap;
}
.user-works-list-content-pages{
    height: 25px;
    display: flex;
    justify-content: flex-end;
}
