@charset "UTF-8";

.header {
  position: relative;
  width: 100%;
  z-index: 1;
}

.header-nav {
  display: flex;
  position: relative;
}

.nav-btn {
  display: inline-block;
  font-size: 14px;
  color: #c4bf97;
  margin-right: 24px;
  padding: 12px 0;
}

.nav-btn > div {
  display: block;
  height: 4px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.active > div {
  background-image: url('./active.png');
}

.nav-btn:hover {
  color: #c4bf97;
}

.nav-btn-disabled {
  font-size: 14px;
  color: #818b8a;
  margin-right: 24px;
  padding: 12px 0;
}

.nav-btn-disabled:hover {
  color: #818b8a;
}

.nav-logo {
  position: relative;
  margin-left: 32px;
  margin-top: 13px;
  margin-right: 65px;
  color: #5A9B9F;
  width: 120px;
  height: 24px;
}

.nav-logo img {
  width: 100%;
}

.user-control-bar {
  position: absolute;
  right: 32px;
  top: 10px;
}

.user-img {
  background-color: rgb(18,43,71);
  vertical-align: middle;
}

.user-auth {
  position: relative;
  top: 4px;
  font-size: 14px;
}

.user-auth:after {
  display: block;
  content: "\0020";
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.user-auth li {
  float: left;
  margin-right: 8px;
  color: #fff;
}

.user-auth li a {
  color: #fff;
  text-decoration: none;
}
