@charset "UTF-8";

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.wrapper-inner {
  flex-grow: 1;
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  overflow: auto;
}

.wrapper-p {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
}

.rotoed-frame-list {
  flex: 1;
}

.action-type {
  flex: 0 0 40px;
  display: flex;
  flex-flow: row nowrap;
}

.bbtn {
  font-size: 14px!important;
}

/* .action-type > a {
  flex: 1;
  line-height: 40px;
  background: rgba(29,54,57);
  background-image: none;
  color: #c4bf97;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.action-type > .active {
  background-image: linear-gradient(-150deg, #6ca1a5 0%, #3a686c 84%)!important;
} */
